In [90]:
import pandas as pd
import numpy as np
import talib
minute_file = pd.read_csv("ohlcv_minutely.csv")
daily_file  = pd.read_csv("ohlcv_daily.csv")

In [3]:
daily_file.shape

(3691, 7)

In [4]:
daily_file

      Unnamed: 0 trading_point   open   high    low  close  volume
0              0      2003/1/1   4416   4437   4400   4405   16638
1              1      2003/1/3   4411   4485   4381   4452   30522
2              2      2003/1/4   4551   4594   4536   4571   34522
3              3      2003/1/7   4573   4646   4563   4635   29242
4              4      2003/1/8   4687   4700   4639   4641   29228
5              5      2003/1/9   4650   4822   4642   4771   43932
6              6     2003/1/10   4765   4810   4752   4785   28134
7              7     2003/1/11   4845   4847   4792   4828   29798
8              8     2003/1/14   4868   5025   4851   5025   30692
9              9     2003/1/15   5025   5075   4993   5009   14340
10            10     2003/1/16   5088   5088   4960   5044   11278
11            11     2003/1/17   4990   5027   4932   4940   30322
12            12     2003/1/18   4930   4959   4903   4925   30126
13            13     2003/1/21   4892   4976   4882   4968   23498
14            14     2003/1/22   4968   5035   4931   4939   39820
15            15     2003/1/23   4910   5006   4910   5002   31334
16            16     2003/1/24   4998   5087   4996   5085   39858
17            17     2003/1/25   5085   5110   5053   5063   28302
18            18     2003/1/28   5014   5036   4941   4956   28746
19            19     2003/1/29   4957   5026   4941   5022   22528
20            20      2003/2/7   5007   5007   4766   4775   28156
21            21      2003/2/8   4781   4819   4622   4699   37950
22            22     2003/2/11   4679   4705   4620   4640   24830
23            23     2003/2/12   4669   4690   4622   4635   27616
24            24     2003/2/13   4619   4676   4530   4637   31978
25            25     2003/2/14   4610   4625   4485   4485   35554
26            26     2003/2/15   4512   4560   4472   4489   29160
27            27     2003/2/18   4580   4699   4580   4690   30584
28            28     2003/2/19   4682   4682   4610   4636   13434
29            29     2003/2/20   4680   4683   4541   4545   10494
...          ...           ...    ...    ...    ...    ...     ...
3661        3661    2017/11/21  10714  10719  10654  10667  199370
3662        3662    2017/11/22  10695  10788  10682  10788  263158
3663        3663    2017/11/23  10825  10877  10807  10827  292184
3664        3664    2017/11/24  10826  10857  10810  10856  159186
3665        3665    2017/11/25  10841  10856  10829  10856  124374
3666        3666    2017/11/28  10841  10848  10737  10750  266140
3667        3667    2017/11/29  10735  10753  10695  10708  253352
3668        3668    2017/11/30  10747  10763  10708  10729  218402
3669        3669     2017/12/1  10650  10658  10569  10574  331640
3670        3670     2017/12/2  10607  10664  10495  10604  397196
3671        3671     2017/12/5  10604  10651  10564  10649  281344
3672        3672     2017/12/6  10595  10627  10546  10573  316500
3673        3673     2017/12/7  10540  10557  10375  10386  403992
3674        3674     2017/12/8  10388  10427  10331  10360  335830
3675        3675     2017/12/9  10388  10413  10336  10397  285678
3676        3676    2017/12/12  10416  10497  10415  10479  239380
3677        3677    2017/12/13  10496  10498  10386  10432  267144
3678        3678    2017/12/14  10433  10475  10421  10449  233044
3679        3679    2017/12/15  10508  10582  10498  10528  268922
3680        3680    2017/12/16  10510  10515  10421  10485  325612
3681        3681    2017/12/19  10527  10531  10456  10502  224072
3682        3682    2017/12/20  10522  10530  10443  10459  257652
3683        3683    2017/12/21  10457  10509  10457  10497  173292
3684        3684    2017/12/22  10492  10539  10475  10497  240014
3685        3685    2017/12/23  10498  10535  10473  10535  167388
3686        3686    2017/12/26  10549  10564  10520  10526  146482
3687        3687    2017/12/27  10540  10541  10406  10416  297132
3688        3688    2017/12/28  10398  10485  10393  10476  231326
3689        3689    2017/12/29  10495  10593  10494  10562  287154
3690        3690    2017/12/30  10593  10644  10576  10636  245104

[3691 rows x 7 columns]

In [62]:
open_of_daily = daily_file['open']

In [6]:
close_of_daily

0        4405
1        4452
2        4571
3        4635
4        4641
5        4771
6        4785
7        4828
8        5025
9        5009
10       5044
11       4940
12       4925
13       4968
14       4939
15       5002
16       5085
17       5063
18       4956
19       5022
20       4775
21       4699
22       4640
23       4635
24       4637
25       4485
26       4489
27       4690
28       4636
29       4545
        ...
3661    10667
3662    10788
3663    10827
3664    10856
3665    10856
3666    10750
3667    10708
3668    10729
3669    10574
3670    10604
3671    10649
3672    10573
3673    10386
3674    10360
3675    10397
3676    10479
3677    10432
3678    10449
3679    10528
3680    10485
3681    10502
3682    10459
3683    10497
3684    10497
3685    10535
3686    10526
3687    10416
3688    10476
3689    10562
3690    10636
Name: close, Length: 3691, dtype: int64

In [7]:
RSI = talib.RSI(close_of_daily)

In [92]:
daily_file[:100]

    Unnamed: 0 trading_point  open  high   low  close  volume
0            0      2003/1/1  4416  4437  4400   4405   16638
1            1      2003/1/3  4411  4485  4381   4452   30522
2            2      2003/1/4  4551  4594  4536   4571   34522
3            3      2003/1/7  4573  4646  4563   4635   29242
4            4      2003/1/8  4687  4700  4639   4641   29228
5            5      2003/1/9  4650  4822  4642   4771   43932
6            6     2003/1/10  4765  4810  4752   4785   28134
7            7     2003/1/11  4845  4847  4792   4828   29798
8            8     2003/1/14  4868  5025  4851   5025   30692
9            9     2003/1/15  5025  5075  4993   5009   14340
10          10     2003/1/16  5088  5088  4960   5044   11278
11          11     2003/1/17  4990  5027  4932   4940   30322
12          12     2003/1/18  4930  4959  4903   4925   30126
13          13     2003/1/21  4892  4976  4882   4968   23498
14          14     2003/1/22  4968  5035  4931   4939   39820
15          15     2003/1/23  4910  5006  4910   5002   31334
16          16     2003/1/24  4998  5087  4996   5085   39858
17          17     2003/1/25  5085  5110  5053   5063   28302
18          18     2003/1/28  5014  5036  4941   4956   28746
19          19     2003/1/29  4957  5026  4941   5022   22528
20          20      2003/2/7  5007  5007  4766   4775   28156
21          21      2003/2/8  4781  4819  4622   4699   37950
22          22     2003/2/11  4679  4705  4620   4640   24830
23          23     2003/2/12  4669  4690  4622   4635   27616
24          24     2003/2/13  4619  4676  4530   4637   31978
25          25     2003/2/14  4610  4625  4485   4485   35554
26          26     2003/2/15  4512  4560  4472   4489   29160
27          27     2003/2/18  4580  4699  4580   4690   30584
28          28     2003/2/19  4682  4682  4610   4636   13434
29          29     2003/2/20  4680  4683  4541   4545   10494
..         ...           ...   ...   ...   ...    ...     ...
70          70     2003/4/19  4639  4675  4620   4660   38174
71          71     2003/4/22  4650  4657  4612   4657   28056
72          72     2003/4/23  4620  4628  4559   4571   36164
73          73     2003/4/24  4600  4619  4552   4570   37150
74          74     2003/4/25  4580  4580  4322   4356   66910
75          75     2003/4/26  4300  4346  4211   4211   58616
76          76     2003/4/29  4171  4180  4060   4125   59486
77          77     2003/4/30  4183  4208  4110   4195   54166
78          78      2003/5/1  4235  4255  4105   4135   61048
79          79      2003/5/3  4105  4215  4103   4189   46382
80          80      2003/5/6  4200  4207  4133   4190   42200
81          81      2003/5/7  4205  4243  4180   4185   38330
82          82      2003/5/8  4205  4252  4193   4245   43088
83          83      2003/5/9  4232  4234  4156   4165   38880
84          84     2003/5/10  4157  4259  4157   4224   52882
85          85     2003/5/13  4225  4287  4206   4245   40118
86          86     2003/5/14  4298  4342  4292   4316   45738
87          87     2003/5/15  4317  4338  4292   4338   30702
88          88     2003/5/16  4314  4325  4270   4324   44350
89          89     2003/5/17  4335  4366  4260   4260   40614
90          90     2003/5/20  4235  4254  4212   4239   28348
91          91     2003/5/21  4193  4243  4169   4226   16822
92          92     2003/5/22  4231  4247  4213   4240   14748
93          93     2003/5/23  4195  4245  4165   4241   53622
94          94     2003/5/24  4275  4344  4261   4340   56882
95          95     2003/5/27  4358  4447  4342   4444   49586
96          96     2003/5/28  4452  4460  4415   4434   32940
97          97     2003/5/29  4590  4591  4465   4485   58762
98          98     2003/5/30  4470  4498  4445   4453   38534
99          99     2003/5/31  4469  4602  4456   4510   93152

[100 rows x 7 columns]

In [100]:
money = 1000000
stock = 0
state = 0
transaction_fee = 100
money_state = 1
for i in range (500, len(daily_file)-1):
    action = myStrategy (daily_file[:i-1], 0, open_of_daily[i])
    if(action == 1 and money_state==1):
        money = money-transaction_fee
        stock = money/open_of_daily[i]
        money = 0
        money_state = 0
    elif(action == -1 and money_state == 0):
        money = stock*open_of_daily[i]-transaction_fee
        stock = 0
        money_state = 1
money+=stock*open_of_daily[len(open_of_daily)-1]
print(money/1000000)

500

KeyError: 500

In [88]:
def myStrategy(dailyOhlcvFile, minutelyOhlcvFile, openPrice):
    money_state = 1
    RSI_threshold=50
    open_of_daily = dailyOhlcvFile['open']
    SMA = talib.MA(open_of_daily,3)
    BMA = talib.MA(open_of_daily,120)
    RSI = talib.RSI(open_of_daily)
    length= len(SMA)-1
    if(SMA[length]>BMA[length] and RSI[length]>RSI_threshold ):
        return 1
    elif (SMA[length]<BMA[length] and RSI[length]<RSI_threshold ):
        return -1
    else:
        return 0

In [39]:
RSI[i]

56.31863494769458

In [57]:
money = 1000000
stock = 0
state = 0
transaction_fee = 100

for i in range (121,len(close_of_daily)):
    if(SMA[i]>BMA[i] and RSI[i]>RSI_threshold and money_state==1):
        money = money-transaction_fee
        stock = money/close_of_daily[i]
        money = 0
        money_state = 0
    elif (SMA[i]<BMA[i] and RSI[i]<RSI_threshold and money_state==0):
        money = stock*close_of_daily[i]-transaction_fee
        stock = 0
        money_state = 1
money+=stock*close_of_daily[len(close_of_daily)-1]
print(money/1000000)

3.0726401058193975